<script src="template/js/md5.js"></script>
<script src="template/js/validator.js"></script>
<script src="template/js/genKey.js"></script>
<link rel="stylesheet" href="template/css/register.css">

<div class="container">
<div class="col-md-6 col-md-offset-3">
    <h2>Get new api key</h2>

    <div class="alert alert-danger" id = 'walletError'>
        <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
        <strong>Wallet address is mandatory.</strong>
    </div>
    
    <div class="alert alert-danger" id = 'inputError'>
        <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
        <strong>Please check your entries and try again.</strong>
    </div>

    <div class="alert alert-success" id = 'successNoti'>
        <strong>
            <p>
                <span class="glyphicon glyphicon-saved" aria-hidden="true"></span>
                Success!
            </p>

            <p>
                Updated API Key :
            </p>

            <p id='newApiKey'></p>
        </strong>
    </div>



    <form id = "requestForm" action=" genapikey.php" method="post"> 
        <div class="form-group">
            <label>Wallet address</label>
            <input type="text" name = "walletAddress" id="wallet" placeholder="Enter Wallet Address Here.." class="form-control">
        </div>

        <input id = "seed" name = "seed" type = "hidden"/>
        <input id = "hash" name = "hash" type = "hidden"/>
    </form>

    <div class="form-group">
        <label>Secret Key (used on clientside for encrypt only)</label>
        <input type="password" name="secretKey" id = "secretKey" placeholder="Enter Secret Key Here.." class="form-control">
        <span class="help-block"></span>
    </div>
    <div class="form-group">
        <input type="submit" onclick = "return keyRequest()" class="btn btn-primary" value="Submit">
        <a class="btn btn-link" href="welcome.php">Cancel</a>
    </div>
</div> 
</div>