<section class="section" id="section_1579295686">
        <div class="bg section-bg fill bg-fill  bg-loaded">
        </div>
        <div class="section-content relative">
        <div class="row align-center" id="row-1380517993">
        <div class="col medium-10 small-12 large-10"><div class="col-inner text-center">
        <div class="col-inner text-center" style="padding: 50px 0px 0px 0px;">
        
        
        
        
        <h1>What is Nexty Platform?</h1>
        <p class="lead"><strong>Nexty Platform</strong> is a <strong>Fintech</strong> ecosystem which helps <strong>ecommerce</strong> startups to raise funds from the community. <strong>Nexty</strong> has several competitive advantages:<strong> Instant transfer</strong>, <strong>zero transfer fees</strong> and <strong>price stablisation</strong>. <strong>The Dual Cryptocurrency Confirmation System</strong> includes two cryptocurrencies: <strong>NTY</strong> &amp; <strong>NTF</strong> which operate at the same time. The main cryptocurrency is intended for daily transaction usage. The secondary cryptocurrency is for the transaction <strong>confirmation system</strong>.</p>
        </div>
        <a rel="noopener noreferrer" href="https://nexty.io/nexty-whitepaper.pdf" target="_blank" class="button primary is-underline reveal-icon">
        <span>Read our Whitepaper</span>
        <i class="icon-angle-right"></i></a>
        <a rel="noopener noreferrer" href="https://github.com/nextyio/yellowpaper/raw/master/Paper.pdf" target="_blank" class="button primary is-underline reveal-icon">
        <span>Read our Yellow Paper</span>
        <i class="icon-angle-right"></i></a>
        </div></div>
        <style scope="scope">
        
        </style>
        </div>
        </div>
        <style scope="scope">
        
        #section_1579295686 {
          padding-top: 60px;
          padding-bottom: 60px;
          min-height: 300px;
          background-color: rgb(245, 245, 245);
        }
        </style>
        </section>
        
        <section class="section" id="section_1355428857">
        <div class="bg section-bg fill bg-fill  bg-loaded">
        </div>
        <div class="section-content relative">
        <div class="row align-center" id="row-1593793146">
        <div class="col medium-10 small-12 large-10"><div class="col-inner text-center">
        <h2>Events we participate in</h2>
        <p>Check out our past and upcoming events to find out where you can meet up with us.</p>
        </div></div>
        <style scope="scope">
        
        </style>
        </div>
        <div id="row-1955212109" class="row large-columns-4 medium-columns-1 small-columns-1 row-xsmall row-masonry" data-packery-options='{"itemSelector": ".col", "gutter": 0, "presentageWidth" : true}'>
        <div class="col post-item" data-animate="fadeInLeft">
        <div class="col-inner">
        <a href="https://nexty.io/events/vietnam-blockchain-hub-2018/" class="plain">
        <div class="box box-none box-text-bottom box-blog-post has-hover">
        <div class="box-image">
        <div class="image-cover" style="padding-top:56.25%;">
        <img width="764" height="400" src="https://nexty.io/wp-content/uploads/2018/09/40385387_941378966054150_5528236987196112896_n-764x400.jpg" class="attachment-medium size-medium wp-post-image" alt="" srcset="https://nexty.io/wp-content/uploads/2018/09/40385387_941378966054150_5528236987196112896_n-764x400.jpg 764w, https://nexty.io/wp-content/uploads/2018/09/40385387_941378966054150_5528236987196112896_n-768x402.jpg 768w, https://nexty.io/wp-content/uploads/2018/09/40385387_941378966054150_5528236987196112896_n.jpg 800w" sizes="(max-width: 764px) 100vw, 764px" /> </div>
        </div>
        <div class="box-text text-center">
        <div class="box-text-inner blog-post-inner">
        <h5 class="post-title is-large ">Vietnam Blockchain Hub 2018</h5>
        <div class="is-divider"></div>
        <p class="from_the_blog_excerpt ">Blockchain Hub 2018, scheduled from 23 to 25 September 2018, presented by LATOKEN, ZeniiCrypto and [...] </p>
        </div>
        </div>
        <div class="badge absolute top post-date badge-outline">
        <div class="badge-inner">
        <span class="post-date-day">26</span><br>
        <span class="post-date-month is-xsmall">Sep</span>
        </div>
        </div>
        </div>
        </a>
        </div>
        </div>
        <div class="col post-item" data-animate="fadeInLeft">
        <div class="col-inner">
        <a href="https://nexty.io/events/nexty-platforms-cto-signed-moa-with-ceo-of-intermarketing-jeju-south-korea/" class="plain">
        <div class="box box-none box-text-bottom box-blog-post has-hover">
        <div class="box-image">
        <div class="image-cover" style="padding-top:56.25%;">
        <img width="639" height="400" src="https://nexty.io/wp-content/uploads/2018/08/ki-hop-dong-JEJU-intermarketing-639x400.jpg" class="attachment-medium size-medium wp-post-image" alt="" srcset="https://nexty.io/wp-content/uploads/2018/08/ki-hop-dong-JEJU-intermarketing-639x400.jpg 639w, https://nexty.io/wp-content/uploads/2018/08/ki-hop-dong-JEJU-intermarketing-768x481.jpg 768w, https://nexty.io/wp-content/uploads/2018/08/ki-hop-dong-JEJU-intermarketing-1278x800.jpg 1278w" sizes="(max-width: 639px) 100vw, 639px" /> </div>
        </div>
        <div class="box-text text-center">
        <div class="box-text-inner blog-post-inner">
        <h5 class="post-title is-large ">Nexty Platform&#8217;s CTO signed MOA with CEO of InterMarketing, Jeju, South Korea</h5>
        <div class="is-divider"></div>
        <p class="from_the_blog_excerpt ">Nexty Platform&#8217;s CTO &#8211; Mr Thanh Dao, has signed the Memorandum of Agreement (MOA) with [...] </p>
        </div>
        </div>
        <div class="badge absolute top post-date badge-outline">
        <div class="badge-inner">
        <span class="post-date-day">18</span><br>
        <span class="post-date-month is-xsmall">Aug</span>
        </div>
        </div>
        </div>
        </a>
        </div>
        </div>
        <div class="col post-item" data-animate="fadeInLeft">
        <div class="col-inner">
        <a href="https://nexty.io/events/blockchain-partners-summit-seoul/" class="plain">
        <div class="box box-none box-text-bottom box-blog-post has-hover">
        <div class="box-image">
        <div class="image-cover" style="padding-top:56.25%;">
        <img width="669" height="400" src="https://nexty.io/wp-content/uploads/2018/08/1_xDRsQtmFF3vUVrViBTRorQ-669x400.jpeg" class="attachment-medium size-medium wp-post-image" alt="" srcset="https://nexty.io/wp-content/uploads/2018/08/1_xDRsQtmFF3vUVrViBTRorQ-669x400.jpeg 669w, https://nexty.io/wp-content/uploads/2018/08/1_xDRsQtmFF3vUVrViBTRorQ-768x459.jpeg 768w, https://nexty.io/wp-content/uploads/2018/08/1_xDRsQtmFF3vUVrViBTRorQ-1339x800.jpeg 1339w, https://nexty.io/wp-content/uploads/2018/08/1_xDRsQtmFF3vUVrViBTRorQ-e1533699182695.jpeg 1200w" sizes="(max-width: 669px) 100vw, 669px" /> </div>
        </div>
        <div class="box-text text-center">
        <div class="box-text-inner blog-post-inner">
        <h5 class="post-title is-large ">Blockchain Partners Summit Seoul</h5>
        <div class="is-divider"></div>
        <p class="from_the_blog_excerpt ">Blockchain Partners Summit 2018 is held on July 21-22 at the Walkerhill Hotel Seoul, under the theme of [...] </p>
        </div>
        </div>
        <div class="badge absolute top post-date badge-outline">
        <div class="badge-inner">
        <span class="post-date-day">21</span><br>
        <span class="post-date-month is-xsmall">Jul</span>
        </div>
        </div>
        </div>
        </a>
        </div>
        </div>
        <div class="col post-item" data-animate="fadeInLeft">
        <div class="col-inner">
        <a href="https://nexty.io/events/beyond-blocks-summit-seoul/" class="plain">
        <div class="box box-none box-text-bottom box-blog-post has-hover">
        <div class="box-image">
        <div class="image-cover" style="padding-top:56.25%;">
        <img width="800" height="400" src="https://nexty.io/wp-content/uploads/2018/08/1_RwMqghT5d0X8Sj_bFoBLeQ-800x400.png" class="attachment-medium size-medium wp-post-image" alt="" srcset="https://nexty.io/wp-content/uploads/2018/08/1_RwMqghT5d0X8Sj_bFoBLeQ-800x400.png 800w, https://nexty.io/wp-content/uploads/2018/08/1_RwMqghT5d0X8Sj_bFoBLeQ-768x384.png 768w, https://nexty.io/wp-content/uploads/2018/08/1_RwMqghT5d0X8Sj_bFoBLeQ.png 1400w" sizes="(max-width: 800px) 100vw, 800px" /> </div>
        </div>
        <div class="box-text text-center">
        <div class="box-text-inner blog-post-inner">
        <h5 class="post-title is-large ">Beyond Blocks Summit Seoul</h5>
        <div class="is-divider"></div>
        <p class="from_the_blog_excerpt ">Beyond Blocks aims to bring together world-class thought-leaders and experts from across the blockchain ecosystem [...] </p>
        </div>
        </div>
        <div class="badge absolute top post-date badge-outline">
        <div class="badge-inner">
        <span class="post-date-day">17</span><br>
        <span class="post-date-month is-xsmall">Jul</span>
        </div>
        </div>
        </div>
        </a>
        </div>
        </div>
        <div class="col post-item" data-animate="fadeInLeft">
        <div class="col-inner">
        <a href="https://nexty.io/events/crypto-economy-ico2018-london/" class="plain">
        <div class="box box-none box-text-bottom box-blog-post has-hover">
        <div class="box-image">
        <div class="image-cover" style="padding-top:56.25%;">
        <img width="800" height="315" src="https://nexty.io/wp-content/uploads/2018/08/Wereldkaart-Barcelona-1024x403-800x315.jpg" class="attachment-medium size-medium wp-post-image" alt="" srcset="https://nexty.io/wp-content/uploads/2018/08/Wereldkaart-Barcelona-1024x403-800x315.jpg 800w, https://nexty.io/wp-content/uploads/2018/08/Wereldkaart-Barcelona-1024x403-768x302.jpg 768w, https://nexty.io/wp-content/uploads/2018/08/Wereldkaart-Barcelona-1024x403.jpg 1024w" sizes="(max-width: 800px) 100vw, 800px" /> </div>
        </div>
        <div class="box-text text-center">
        <div class="box-text-inner blog-post-inner">
        <h5 class="post-title is-large ">Crypto Economy / ICO2018 | LONDON</h5>
        <div class="is-divider"></div>
        <p class="from_the_blog_excerpt ">The Crypto Economy event in London is organized by BECON, the global Blockchain Ecosystem Network. [...] </p>
        </div>
        </div>
        <div class="badge absolute top post-date badge-outline">
        <div class="badge-inner">
        <span class="post-date-day">06</span><br>
        <span class="post-date-month is-xsmall">Jul</span>
        </div>
        </div>
        </div>
        </a>
        </div>
        </div>
        <div class="col post-item" data-animate="fadeInLeft">
        <div class="col-inner">
        <a href="https://nexty.io/events/welcome-to-flatsome/" class="plain">
        <div class="box box-none box-text-bottom box-blog-post has-hover">
        <div class="box-image">
        <div class="image-cover" style="padding-top:56.25%;">
        <img width="644" height="308" src="https://nexty.io/wp-content/uploads/2015/11/blockchainsubmit.jpg" class="attachment-medium size-medium wp-post-image" alt="" srcset="https://nexty.io/wp-content/uploads/2015/11/blockchainsubmit.jpg 644w, https://nexty.io/wp-content/uploads/2015/11/blockchainsubmit-600x287.jpg 600w" sizes="(max-width: 644px) 100vw, 644px" /> </div>
        </div>
        <div class="box-text text-center">
        <div class="box-text-inner blog-post-inner">
        <h5 class="post-title is-large ">Blockchain Summit London 2018</h5>
        <div class="is-divider"></div>
        <p class="from_the_blog_excerpt ">Blockchain Summit London is a 2 day conference and exhibition connecting over 2,500 industry leaders, [...] </p>
        </div>
        </div>
        <div class="badge absolute top post-date badge-outline">
        <div class="badge-inner">
        <span class="post-date-day">27</span><br>
        <span class="post-date-month is-xsmall">Jun</span>
        </div>
        </div>
        </div>
        </a>
        </div>
        </div>
        <div class="col post-item" data-animate="fadeInLeft">
        <div class="col-inner">
        <a href="https://nexty.io/events/blockchain-festival-vietnam/" class="plain">
        <div class="box box-none box-text-bottom box-blog-post has-hover">
        <div class="box-image">
        <div class="image-cover" style="padding-top:56.25%;">
        <img width="765" height="400" src="https://nexty.io/wp-content/uploads/2018/05/Blockchain-Festival-Vietnam-765x400.jpg" class="attachment-medium size-medium wp-post-image" alt="" srcset="https://nexty.io/wp-content/uploads/2018/05/Blockchain-Festival-Vietnam-765x400.jpg 765w, https://nexty.io/wp-content/uploads/2018/05/Blockchain-Festival-Vietnam-768x402.jpg 768w, https://nexty.io/wp-content/uploads/2018/05/Blockchain-Festival-Vietnam-600x314.jpg 600w, https://nexty.io/wp-content/uploads/2018/05/Blockchain-Festival-Vietnam.jpg 1000w" sizes="(max-width: 765px) 100vw, 765px" /> </div>
        </div>
        <div class="box-text text-center">
        <div class="box-text-inner blog-post-inner">
        <h5 class="post-title is-large ">Blockchain Festival Vietnam</h5>
        <div class="is-divider"></div>
        <p class="from_the_blog_excerpt ">Huobi Global is organizing a major blockchain conference in Ho Chi Minh City, Vietnam entitled [...] </p>
        </div>
        </div>
        <div class="badge absolute top post-date badge-outline">
        <div class="badge-inner">
        <span class="post-date-day">29</span><br>
        <span class="post-date-month is-xsmall">May</span>
        </div>
        </div>
        </div>
        </a>
        </div>
        </div>
        <div class="col post-item" data-animate="fadeInLeft">
        <div class="col-inner">
        <a href="https://nexty.io/events/world-cryptocurrency-and-blockchain-summit-moscow-2018/" class="plain">
        <div class="box box-none box-text-bottom box-blog-post has-hover">
        <div class="box-image">
        <div class="image-cover" style="padding-top:56.25%;">
        <img width="764" height="400" src="https://nexty.io/wp-content/uploads/2015/10/World-Cryptocurrency-and-Blockchain-Summit-Moscow-2018-764x400.png" class="attachment-medium size-medium wp-post-image" alt="" srcset="https://nexty.io/wp-content/uploads/2015/10/World-Cryptocurrency-and-Blockchain-Summit-Moscow-2018-764x400.png 764w, https://nexty.io/wp-content/uploads/2015/10/World-Cryptocurrency-and-Blockchain-Summit-Moscow-2018-768x402.png 768w, https://nexty.io/wp-content/uploads/2015/10/World-Cryptocurrency-and-Blockchain-Summit-Moscow-2018-600x314.png 600w, https://nexty.io/wp-content/uploads/2015/10/World-Cryptocurrency-and-Blockchain-Summit-Moscow-2018.png 1200w" sizes="(max-width: 764px) 100vw, 764px" /> </div>
        </div>
        <div class="box-text text-center">
        <div class="box-text-inner blog-post-inner">
        <h5 class="post-title is-large ">World Cryptocurrency and Blockchain Summit Moscow 2018</h5>
        <div class="is-divider"></div>
        <p class="from_the_blog_excerpt ">On 19th and 20th May, bigHUB will be participating “World Blockchain and Cryptocurrency Summit 2018” [...] </p>
        </div>
        </div>
        <div class="badge absolute top post-date badge-outline">
        <div class="badge-inner">
        <span class="post-date-day">19</span><br>
        <span class="post-date-month is-xsmall">May</span>
        </div>
        </div>
        </div>
        </a>
        </div>
        </div>
        </div>
        </div>
        <style scope="scope">
        
        #section_1355428857 {
          padding-top: 60px;
          padding-bottom: 60px;
          min-height: 300px;
          background-color: rgb(245, 245, 245);
        }
        </style>
        </section>
        <div class="banner has-hover bg-blur" id="banner-372440855">
        <div class="banner-inner fill">
        <div class="banner-bg fill">
        <div class="bg fill bg-fill "></div>
        <div class="overlay"></div>
        </div>
        <div class="banner-layers container">
        <div class="fill banner-link"></div>
        <div id="text-box-1716210797" class="text-box banner-layer x95 md-x95 lg-x95 y50 md-y50 lg-y50 res-text">
        <div class="text dark">
        <div class="text-inner text-right">
        <h2 class="uppercase"><span style="color: #f7f7f7;"><strong>smart wallet</strong></span></h2>
        <h3><span style="color: #f7f7f7;">for your smartphone</span></h3>
        <p><span style="color: #f7f7f7;">Our mobile application allows users to send and receive <b>NTY</b> in the fastest and safest way.</span></p>
        <a href="https://nexty.io/ios/" target="_self" class="button secondary is-underline box-shadow-5 reveal-icon">
        <span>Download for IOS</span>
        <i class="icon-angle-right"></i></a>
        <a href="https://play.google.com/store/apps/details?id=io.nexty.wallet" target="_self" class="button secondary is-underline box-shadow-5 reveal-icon">
        <span>Get it on Google Play</span>
        <i class="icon-angle-right"></i></a>
        </div>
        </div>
        
        <style scope="scope">
        
        #text-box-1716210797 {
          width: 60%;
        }
        #text-box-1716210797 .text {
          font-size: 100%;
        }
        
        
        @media (min-width:550px) {
        
          #text-box-1716210797 {
            width: 50%;
          }
        
        }
        </style>
        </div>
        </div>
        </div>
        <style scope="scope">
        
        #banner-372440855 {
          padding-top: 500px;
        }
        #banner-372440855 .bg.bg-loaded {
          background-image: url(https://nexty.io/wp-content/uploads/2018/05/blockchain-bg-1400x788.jpg);
        }
        #banner-372440855 .overlay {
          background-color: rgba(0, 0, 0, 0.66);
        }
        </style>
        </div>
        <div class="container section-title-container" style="margin-top:30px;max-width:500px;"><h3 class="section-title section-title-center"><b></b><span class="section-title-main">Partners</span><b></b></h3></div>
        <div class="row" id="row-2070781971">
        <div class="col medium-3 small-6 large-3"><div class="col-inner">
        <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_705077251">
        <div class="img-inner dark">
        <img width="1020" height="507" src="https://nexty.io/wp-content/uploads/2018/08/inter-marketing-1400x696.png" class="attachment-large size-large" alt="" srcset="https://nexty.io/wp-content/uploads/2018/08/inter-marketing-1400x696.png 1400w, https://nexty.io/wp-content/uploads/2018/08/inter-marketing-800x398.png 800w, https://nexty.io/wp-content/uploads/2018/08/inter-marketing-768x382.png 768w" sizes="(max-width: 1020px) 100vw, 1020px" />
        </div>
        <style scope="scope">
        
        #image_705077251 {
          width: 100%;
        }
        </style>
        </div>
        </div></div>
        <div class="col medium-3 small-6 large-3"><div class="col-inner">
        <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_309685952">
        <div class="img-inner dark">
        <img width="1020" height="506" src="https://nexty.io/wp-content/uploads/2018/08/VNBIG-1400x695.png" class="attachment-large size-large" alt="" srcset="https://nexty.io/wp-content/uploads/2018/08/VNBIG-1400x695.png 1400w, https://nexty.io/wp-content/uploads/2018/08/VNBIG-800x397.png 800w, https://nexty.io/wp-content/uploads/2018/08/VNBIG-768x382.png 768w" sizes="(max-width: 1020px) 100vw, 1020px" />
        </div>
        <style scope="scope">
        
        #image_309685952 {
          width: 100%;
        }
        </style>
        </div>
        </div></div>
        <div class="col medium-3 small-6 large-3"><div class="col-inner">
        <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_2094173649">
        <div class="img-inner dark">
        <img width="1020" height="507" src="https://nexty.io/wp-content/uploads/2018/08/partner-bounty-07-1400x696.png" class="attachment-large size-large" alt="" srcset="https://nexty.io/wp-content/uploads/2018/08/partner-bounty-07-1400x696.png 1400w, https://nexty.io/wp-content/uploads/2018/08/partner-bounty-07-800x398.png 800w, https://nexty.io/wp-content/uploads/2018/08/partner-bounty-07-768x382.png 768w" sizes="(max-width: 1020px) 100vw, 1020px" />
        </div>
        <style scope="scope">
        
        #image_2094173649 {
          width: 100%;
        }
        </style>
        </div>
        </div></div>
        <div class="col medium-3 small-6 large-3"><div class="col-inner">
        <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_107405278">
        <div class="img-inner dark">
        <img width="1020" height="506" src="https://nexty.io/wp-content/uploads/2018/08/partner-bounty-08-1400x695.png" class="attachment-large size-large" alt="" srcset="https://nexty.io/wp-content/uploads/2018/08/partner-bounty-08-1400x695.png 1400w, https://nexty.io/wp-content/uploads/2018/08/partner-bounty-08-800x397.png 800w, https://nexty.io/wp-content/uploads/2018/08/partner-bounty-08-768x382.png 768w" sizes="(max-width: 1020px) 100vw, 1020px" />
        </div>
        <style scope="scope">
        
        #image_107405278 {
          width: 100%;
        }
        </style>
        </div>
        </div></div>
        </div>
        <div class="row" id="row-435270295">
        <div class="col medium-3 small-6 large-3"><div class="col-inner">
        <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_1933406990">
        <div class="img-inner dark">
        <img width="1020" height="506" src="https://nexty.io/wp-content/uploads/2018/08/partner-bounty-09-1400x695.png" class="attachment-large size-large" alt="" srcset="https://nexty.io/wp-content/uploads/2018/08/partner-bounty-09-1400x695.png 1400w, https://nexty.io/wp-content/uploads/2018/08/partner-bounty-09-800x397.png 800w, https://nexty.io/wp-content/uploads/2018/08/partner-bounty-09-768x381.png 768w" sizes="(max-width: 1020px) 100vw, 1020px" />
        </div>
        <style scope="scope">
        
        #image_1933406990 {
          width: 100%;
        }
        </style>
        </div>
        </div></div>
        <div class="col medium-3 small-6 large-3"><div class="col-inner">
        <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_557524613">
        <div class="img-inner dark">
        <img width="1020" height="507" src="https://nexty.io/wp-content/uploads/2018/08/partner-bounty-05-1400x696.png" class="attachment-large size-large" alt="" srcset="https://nexty.io/wp-content/uploads/2018/08/partner-bounty-05-1400x696.png 1400w, https://nexty.io/wp-content/uploads/2018/08/partner-bounty-05-800x398.png 800w, https://nexty.io/wp-content/uploads/2018/08/partner-bounty-05-768x382.png 768w" sizes="(max-width: 1020px) 100vw, 1020px" />
        </div>
        <style scope="scope">
        
        #image_557524613 {
          width: 100%;
        }
        </style>
        </div>
        </div></div>
        <div class="col medium-3 small-6 large-3"><div class="col-inner">
        <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_292237978">
        <div class="img-inner dark">
        <img width="1020" height="506" src="https://nexty.io/wp-content/uploads/2018/08/partner-bounty-06-1400x695.png" class="attachment-large size-large" alt="" srcset="https://nexty.io/wp-content/uploads/2018/08/partner-bounty-06-1400x695.png 1400w, https://nexty.io/wp-content/uploads/2018/08/partner-bounty-06-800x397.png 800w, https://nexty.io/wp-content/uploads/2018/08/partner-bounty-06-768x382.png 768w" sizes="(max-width: 1020px) 100vw, 1020px" />
        </div>
        <style scope="scope">
        
        #image_292237978 {
          width: 100%;
        }
        </style>
        </div>
        </div></div>
        <div class="col medium-3 small-6 large-3"><div class="col-inner">
        <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_2145514043">
        <div class="img-inner dark">
        <img width="1020" height="507" src="https://nexty.io/wp-content/uploads/2018/08/gosama-1400x696.png" class="attachment-large size-large" alt="" srcset="https://nexty.io/wp-content/uploads/2018/08/gosama-1400x696.png 1400w, https://nexty.io/wp-content/uploads/2018/08/gosama-800x398.png 800w, https://nexty.io/wp-content/uploads/2018/08/gosama-768x382.png 768w" sizes="(max-width: 1020px) 100vw, 1020px" />
        </div>
        <style scope="scope">
        
        #image_2145514043 {
          width: 100%;
        }
        </style>
        </div>
        </div></div>
        </div>
        <div class="row" id="row-970672810">
        <div class="col medium-3 small-6 large-3"><div class="col-inner">
        <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_654528386">
        <div class="img-inner dark">
        <img width="1020" height="506" src="https://nexty.io/wp-content/uploads/2018/08/partner-bounty-12-1400x695.png" class="attachment-large size-large" alt="" srcset="https://nexty.io/wp-content/uploads/2018/08/partner-bounty-12-1400x695.png 1400w, https://nexty.io/wp-content/uploads/2018/08/partner-bounty-12-800x397.png 800w, https://nexty.io/wp-content/uploads/2018/08/partner-bounty-12-768x381.png 768w" sizes="(max-width: 1020px) 100vw, 1020px" />
        </div>
        <style scope="scope">
        
        #image_654528386 {
          width: 100%;
        }
        </style>
        </div>
        </div></div>
        <div class="col medium-3 small-6 large-3"><div class="col-inner">
        <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_169287898">
        <div class="img-inner dark">
        <img width="1020" height="506" src="https://nexty.io/wp-content/uploads/2018/08/partner-bounty-11-1400x695.png" class="attachment-large size-large" alt="" srcset="https://nexty.io/wp-content/uploads/2018/08/partner-bounty-11-1400x695.png 1400w, https://nexty.io/wp-content/uploads/2018/08/partner-bounty-11-800x397.png 800w, https://nexty.io/wp-content/uploads/2018/08/partner-bounty-11-768x381.png 768w" sizes="(max-width: 1020px) 100vw, 1020px" />
        </div>
        <style scope="scope">
        
        #image_169287898 {
          width: 100%;
        }
        </style>
        </div>
        </div></div>
        <div class="col medium-3 small-6 large-3"><div class="col-inner">
        <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_1122010247">
        <div class="img-inner dark">
        <img width="1020" height="506" src="https://nexty.io/wp-content/uploads/2018/08/partner-bounty-10-1400x695.png" class="attachment-large size-large" alt="" srcset="https://nexty.io/wp-content/uploads/2018/08/partner-bounty-10-1400x695.png 1400w, https://nexty.io/wp-content/uploads/2018/08/partner-bounty-10-800x397.png 800w, https://nexty.io/wp-content/uploads/2018/08/partner-bounty-10-768x381.png 768w" sizes="(max-width: 1020px) 100vw, 1020px" />
        </div>
        <style scope="scope">
        
        #image_1122010247 {
          width: 100%;
        }
        </style>
        </div>
        </div></div>
        <div class="col medium-3 small-6 large-3"><div class="col-inner">
        </div></div>
        </div>
        <div style="width: 50px; height: 50px; position: fixed; bottom: 20px; left: 20px; z-index: 99999;"><a href="https://t.me/nexty_io" target="_blank" rel="noopener"><img src="/wp-content/uploads/2018/06/telegram.svg" /></a></div>
        </div>
        </main>
        <footer id="footer" class="footer-wrapper">
        
        
        <div class="absolute-footer dark medium-text-center text-center">
        <div class="container clearfix">
        <div class="footer-primary pull-left">
        <div class="menu-secondary-container"><ul id="menu-secondary" class="links footer-nav uppercase"><li id="menu-item-308" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-308"><a href="http://t.me/nexty_io">Telegram</a></li>
        <li id="menu-item-309" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-309"><a href="https://www.facebook.com/nextycoin/">Facebook</a></li>
        <li id="menu-item-310" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-310"><a href="https://twitter.com/nextyio">Twitter</a></li>
        <li id="menu-item-311" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-311"><a href="https://bitcointalk.org/index.php?topic=2498919.0">Bitcointalk</a></li>
        </ul></div> <div class="copyright-footer">
        © Nexty Pte. Ltd. All Rights reserved <strong></strong> </div>
        </div>
        </div>
        </div>
        <a href="#top" class="back-to-top button invert plain is-outline hide-for-medium icon circle fixed bottom z-1" id="top-link"><i class="icon-angle-up"></i></a>
        </footer>
        </div>
        
        <div id="main-menu" class="mobile-sidebar no-scrollbar mfp-hide">
        <div class="sidebar-menu no-scrollbar text-center">
        <ul class="nav nav-sidebar nav-anim nav-vertical nav-uppercase">
        <li id="menu-item-304" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-304"><a href="https://nexty.io/nexty-whitepaper.pdf" class="nav-top-link">Whitepaper</a></li>
        <li id="menu-item-456" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-456"><a href="https://github.com/nextyio/yellowpaper/blob/master/Paper.pdf" class="nav-top-link">Yellow Paper</a></li>
        <li id="menu-item-305" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-305"><a href="https://nexty.io/#roadmap" class="nav-top-link">Roadmap</a></li>
        <li id="menu-item-306" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-306"><a href="https://nexty.io/faq" class="nav-top-link">FAQs</a></li>
        <li id="menu-item-307" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-307"><a href="https://nexty.io/events" class="nav-top-link">Events</a></li>
        <li id="menu-item-798" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-798"><a href="https://nexty.io/partner/" class="nav-top-link">Partner</a></li>
        <li id="menu-item-836" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-836"><a href="https://nexty.io/merchants/" class="nav-top-link">Merchants</a></li>
        </ul>
        </div>
        </div>
        <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script type="dceb21a195b811069d86c739-text/javascript">
        /* <![CDATA[ */
        var wpcf7 = {"apiSettings":{"root":"https:\/\/nexty.io\/wp-json\/contact-form-7\/v1","namespace":"contact-form-7\/v1"},"recaptcha":{"messages":{"empty":"Please verify that you are not a robot."}}};
        /* ]]> */
        </script>
        <script type="dceb21a195b811069d86c739-text/javascript" src='https://nexty.io/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=5.0.2'></script>
        <script type="dceb21a195b811069d86c739-text/javascript" src='https://nexty.io/wp-content/themes/flatsome/inc/extensions/flatsome-live-search/flatsome-live-search.js?ver=3.6.0'></script>
        <script type="dceb21a195b811069d86c739-text/javascript" src='https://nexty.io/wp-includes/js/hoverIntent.min.js?ver=1.8.1'></script>
        <script type="dceb21a195b811069d86c739-text/javascript">
        /* <![CDATA[ */
        var flatsomeVars = {"ajaxurl":"https:\/\/nexty.io\/wp-admin\/admin-ajax.php","rtl":"","sticky_height":"70","user":{"can_edit_pages":false}};
        /* ]]> */
        </script>
        <script type="dceb21a195b811069d86c739-text/javascript" src='https://nexty.io/wp-content/themes/flatsome/assets/js/flatsome.js?ver=3.6.0'></script>
        <script type="dceb21a195b811069d86c739-text/javascript" src='https://nexty.io/wp-includes/js/wp-embed.min.js?ver=4.9.8'></script>
        <script type="dceb21a195b811069d86c739-text/javascript" src='https://nexty.io/wp-content/themes/flatsome/assets/libs/packery.pkgd.min.js?ver=3.6.0'></script>
        <script src="https://ajax.cloudflare.com/cdn-cgi/scripts/2448a7bd/cloudflare-static/rocket-loader.min.js" data-cf-nonce="dceb21a195b811069d86c739-" defer=""></script></body>

        </html>
        