<script src="template/js/merchant.js"></script>
<div class="container defaultBg">
        <h1 class="well">Registration Form</h1>
        <div class="col-lg-12 well">
        <div class="row">
                    <form>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Wallet address</label>
                                <input type="text" id="wallet" placeholder="Enter Wallet Address Here.." class="form-control">
                            </div>	

                            <div class="row">
                                <div class="col-sm-4 form-group">
                                    <label>Title</label>
                                    <input type="text" id="merchantName" placeholder="Enter Merchant Name Here.." class="form-control">
                                </div>
                                <div class="col-sm-8 form-group">
                                    <label>Website</label>
                                    <input type="text" id ="url" placeholder="Enter Website Url Here.." class="form-control">
                                </div>
                            </div>				

                            <div class="row">
                                <div class="col-sm-4 form-group">
                                    <label>City</label>
                                    <input type="text" placeholder="Enter City Name Here.." class="form-control">
                                </div>	
                                <div class="col-sm-4 form-group">
                                    <label>State</label>
                                    <input type="text" placeholder="Enter State Name Here.." class="form-control">
                                </div>	
                                <div class="col-sm-4 form-group">
                                    <label>Zip</label>
                                    <input type="text" placeholder="Enter Zip Code Here.." class="form-control">
                                </div>		
                            </div>					
                        <div class="form-group">
                            <label>Phone Number</label>
                            <input type="text" placeholder="Enter Phone Number Here.." class="form-control">
                        </div>		
                        <div class="form-group">
                            <label>Email Address</label>
                            <input type="text" id='email' placeholder="Enter Email Address Here.." class="form-control">
                        </div>	
                        <button onclick="addMerchant();" type="button" class="btn btn-lg btn-info" data-toggle="modal" data-target="#popup">Submit</button>					
                        </div>
                    </form> 
                    </div>
        </div>
        </div>
        <!-- Modal -->
<div class="modal fade" id="popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalLongTitle"></h4>
                    <p id = 'androidApp'><a href="https://play.google.com/store/apps/details?id=io.nexty.wallet">Click here to download Android payment app</a></p>
                    <p id = 'iosApp'><a href="https://nexty.io/ios">Click here to download IOS payment app</a></p>
                </div>
            <div class="modal-body">
                    <label id = "infoText">QR CODE</label> 
                    <?php 
                        echo '<img id= "QRImg" src="https://chart.googleapis.com/chart?chs=300x300&cht=qr&chl=testsfdhfsd&choe=UTF-8" title="Link to Google.com" />';
                    ?>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>